@use './../abstracts' as *;


.page-top-padding {
    padding-top: 88px;

    &.mobile {
        padding-top: 75px;
    }
}

.home-bg {
    width: 100%;
    height: 80vh;
    background: linear-gradient(110deg, $primary-white 68%, $primary 32%);
}

.line-hight {
    line-height: 1.5;

    &.line-1 {
        line-height: 1;
    }

    &.line-2 {
        line-height: 2;
    }

    &.line-3 {
        line-height: 3;
    }
}